---
import Layout from "@/layouts/Layout.astro";
import Image from "astro/components/Image.astro";

import venmo_qr_code from "@assets/venmo_qr_code.png";
---

<Layout title="Support Us" description="" selected="donate" footerless>
  <section id="top-content">
    <div class="oswald-text">
      <h1 class="devil-bauer">Supporting FRC Team 6324</h1>
      <p>
        The support and generosity of our community and our sponsors is what
        allows us to keep making an impact in and around Salem.
      </p>
      <div>
        <h2>Ways to support:</h2>
        <ul>
          <li>Monetary Donations</li>
          <li>Materials</li>
          <li>Becoming a Mentor</li>
        </ul>
      </div>
    </div>
    <div id="top-sidebar" class="oswald-text">
      <h3>Navigation</h3>
      <ul id="top-sidebar-links">
        <li>Donations</li>
        <li>Sponsorships</li>
        <li>Nonprofit Info</li>
      </ul>
    </div>
  </section>
  <section id="monetary-donations">
    <div class="oswald-text">
      <h2>Monetary Donations</h2>
      <p>
        Personal monetary donations may be directed to Friends of SHS Robotics
        via the QR code, or via a check.
      </p>
    </div>
    <div id="donation-info" class="oswald-text">
      <div id="venmo-qr-code">Venmo QR code</div>
      <Image src={venmo_qr_code} alt="" layout="full-width" />
    </div>
  </section>
  <section id="nonprofit-info" class="oswald-text">
    <div>
      <h3>Nonprofit Info</h3>
      <p>
        Team 6324, The Blue Devils, maintains non-profit status through the
        Salem School District (SAU 57); Tax ID 02-6000816 and the 501(c)(3)
        charitable organization ‘Friends of SHS Robotics’; Tax ID 93-4339616. A
        W-9 Taxpayer Identification Certificate can be provided for either
        entity upon request. Both in-kind and monetary donations are accepted
        and are typically tax deductible. Checks can be made payable to ‘Friends
        of SHS Robotics’ with ‘FRC Team 6324’ in the memo line. Donations made
        after February 1st of each year will be attributed to the following
        competitive season (January-April timeframe) and rewards will be granted
        before the end of June of the applicable season.
      </p>
    </div>
    <div>
      <div>
        <h3>Contacts</h3>
        <ul>
          <li>
            <p>John Seeman</p>
            <p>Lead Mentor</p>
            <a href="mailto:frc6324.leadmentor@gmail.com"
              >frc6324.leadmentor@gmail.com</a
            >
          </li>
          <li>
            <p>Heather Dezan</p>
            <p>President, Friends of SHS Robotics</p>
            <a href="mailto:friendsofshsroboƟcs@gmail.com"
              ><p>friendsofshsroboƟcs@gmail.com</p></a
            >
          </li>
          <li>
            <p>Brennan Macaig</p>
            <p>Treasurer, Friends of SHS Robotics</p>
            <a href="mailto:brennan.macaig@gmail.com"
              ><p>brennan.macaig@gmail.com</p></a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3>Mailing Address</h3>
        <div>
          <p>Attn: FIRST Robotics</p>
          <p>CTE Department</p>
          <p>Salem High School</p>
          <p>44 Geremonty Drive,</p>
          <p>Salem, New Hampshire 03079</p>
        </div>
      </div>
    </div>
  </section>

</Layout>
