---
interface Props {
  pageSelected?: string;
}

const props = Astro.props;

/**
 * Checks if the navbar option is the currently shown page. This allows the browser to save itself
 * work if the user clicks on a link to the current page by preventing a full reload.
 *
 * @param page The page to check against.
 * @returns The top of the current page if it is the currently selected option, otherwise returns `page`.
 */
function isSelected(page: string): string {
  if (props.pageSelected === page) {
    return "#";
  }

  return `/${page}`;
}
---

<header id="navbar-header" role="banner" aria-label="Page Header">
  <nav id="navbar">
    <div id="navbar-title-container">
      <a href={isSelected("")} id="navbar-title">
        <h1 class="devil-bauer hover-blue">The Blue Devils</h1>
      </a>
    </div>
    <ul id="navbar-links" class="oswald-text">
      <li>
        <a href="/#outreach">
          <h3 class="hover-blue">Outreach</h3>
        </a>
      </li>
      <li>
        <a href={isSelected("updates")}>
          <h3 class="hover-blue">Updates</h3>
        </a>
      </li>
      <li>
        <a href={isSelected("donate")}>
          <h3 class="hover-blue">Support Us</h3>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .hover-blue {
    transition: color 0.4s ease-in-out;
  }

  .hover-blue:hover,
  .hover-blue:focus-within {
    color: var(--bd-color);
  }

  #navbar-header {
    position: relative;
    width: 100%;
    height: fit-content;
    z-index: 5000;

    background-color: #b3b3b3;
  }

  #navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;

    & h3,
    & h1 {
      margin: 0;
    }

    & a {
      text-decoration: none;
    }
  }

  #navbar-title-container {
    width: 35%;
    height: fit-content;
  }

  #navbar-title {
    width: 100%;
    color: var(--bd-color);
    text-decoration: none;
    height: fit-content;

    & > h1 {
      width: 100%;
      text-align: center;
    }
  }

  #navbar-links {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    & > li > a {
      color: black;
      font-size: 1.4rem;
    }
  }

  @media (max-width: 600px) {
    #navbar-title-container {
      width: 100%;
    }

    #navbar-title {
      font-size: 3.25vw;
    }

    #navbar-links {
      display: none;
    }
  }

  .dropdown {
    position: relative;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;
  }

  .dropdown-caret::before {
    content: "▴";
    display: inline-block;
    font-size: 1.1em;
    margin-left: 0.25ch;
    transition: transform 0.4s ease-in-out;
  }

  .dropdown-content {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -0.5vh);
    width: max-content;
    min-width: fit-content;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    border: 1px solid var(--bg);
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    transition:
      opacity 0.4s ease-in-out,
      transform 0.4s ease-in-out,
      visibility 0.4s ease-in-out;
  }

  .dropdown-content li {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
    border-bottom: 1px solid var(--bg);
    transition: background-color 0.2s ease-in-out;
  }

  .dropdown-content li:last-child {
    border-bottom: none;
  }

  @media (prefers-color-scheme: light) {
    .dropdown-content {
      background-color: var(--dark-bg);
    }
    .dropdown-content li > a {
      color: var(--dark-text);
    }
  }

  @media (prefers-color-scheme: dark) {
    .dropdown-content {
      background-color: var(--light-bg);
    }
    .dropdown-content li > a {
      color: var(--light-text);
    }
  }

  .dropdown:hover,
  .dropdown:focus-within {
    transform: translateY(-0.5vh);
  }
  .dropdown:hover .dropdown-caret::before,
  .dropdown:focus-within .dropdown-caret::before {
    transform: rotate(180deg);
  }

  .dropdown:hover .dropdown-content,
  .dropdown:focus-within .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  @media (prefers-color-scheme: light) {
    .dropdown-content li:hover {
      background-color: #1f1f1f;
    }
  }
  @media (prefers-color-scheme: dark) {
    .dropdown-content li:hover {
      background-color: #d3cfcf;
    }
  }
</style>
